body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 244, 140);
}

#map{
    width: 100vw;
    height: 70vh;
}

.InfoBox{
    border: 2px solid black;
    border-radius: 20px;
    padding: 15px;
    margin: 20px;
    width: fit-content;  
}

.Space{
    border: 2px solid black;
    border-radius: 10px;
    height: 100px;
    margin: 20px;
}